/* Top part of website */


body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    gap: 12px
}
header {
    background-color: #1F2937;
    height: 450px;
    
}
.links {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    /* margin: 20px 50px; */
    /* padding: 20px 300px; */
    /* font: Roboto; */
}

.topLinks{
    
    padding-left: 200px;
}

.topLinksR {
    color: lightgrey;
    display: flex;
    justify-content: space-between ;
    padding-right: 200px;
    gap: 20px;
}

.topPageBox {
    padding-top: 60px;
    display: flex;
    gap: 20px;
}

.left-tpb {
    padding-left: 200px;
    display: flex;
    flex-direction: column;

}

.right-tpb{
    padding-right: 200px;
}

.half-chicken{
    max-height: 300px;
    max-width: 450px;
}

.boxes {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.box {
    border: solid;
    border-color: black;
    border-width: 1px;
    padding: 50px;

}


footer{
    /* background-color: #1F2937; */
    background-color: aquamarine;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Middle slide part of website */

