/* Top part of website */


body {
    font-family: Roboto;
}
header {
    background-color: #1F2937;
    height: 300x;
    
}
.links {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    /* margin: 20px 50px; */
    /* padding: 20px 300px; */
    /* font: Roboto; */
}

.topLinks{
    
    padding-left: 200px;
}

.topLinksR {
    color: lightgrey;
    display: flex;
    justify-content: space-between ;
    padding-right: 200px;
    gap: 20px;
}

.topPageBox {
    padding-top: 60px;
    display: flex;
    gap: 20px;
}

.left-tpb {
    padding-left: 200px;
    display: flex;
    flex-direction: column;

}

.right-tpb{
    padding-right: 200px;
}

.half-chicken{
    max-height: 300px;
    max-width: 450px;
}



/* Middle slide part of website */

