/* Top part of website */


body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
header {
    background-color: #1F2937;
    height: 450px;
    
}

h1{
    /* For Headline text */
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.links {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    /* margin: 20px 50px; */
    /* padding: 20px 300px; */
    /* font: Roboto; */
}

.topLinks{
    
    padding-left: 200px;
    font-size: 120% ;
}

.topLinksR {
    color: lightgrey;
    display: flex;
    justify-content: space-between ;
    padding-right: 200px;
    gap: 20px;
}

.topPageBox p {
    color: lightgrey;
    display: flex;
    justify-content: left;

}


.topPageBox {
    padding-top: 60px;
    display: flex;
    gap: 20px;
}


/* Chicken button on top */
.chicken-btn {
    display: flex;
    justify-content: left;
    background-color: rgb(8, 160, 255);
    color: #f9faf8;
    /* font-size: 12px; */
    font-weight: bold;
    border-radius: 15%;
    padding: 7px;
    width: 25%;
}

.left-tpb {
    padding-left: 200px;
    display: flex;
    flex-direction: column;

}

.right-tpb{
    padding-right: 200px;
}

.half-chicken{
    max-height: 300px;
    max-width: 450px;
}

.boxes {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.box {
    border: solid;
    border-color: black;
    border-width: 1px;
    padding: 50px;

}

.box-header{
    display: flex;
    justify-content: center;
}


/* Styling for coupon */

.coupon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12%;
    background-color: rgb(78, 81, 249);
    margin: 4% 12%;
    border-radius: 10px;
    color: #f9faf8;
}

.coupon p {
    color: lightgrey;
}

.coupon button {
    border-color: white;
    border-width: 3px;
    background-color: rgb(78, 81, 249);
    height: 80%;
    font-size: 30px;
    color: #f9faf8;
}
footer{
    /* background-color: #1F2937; */
    background-color: aquamarine;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Middle slide part of website */

